html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #495867;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 500px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px; 
    padding: 20px;
    background-color: #577399;
}

.display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 350px;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    font-size: 45px;
    padding: 10px;
}

button {
    background-color: #BDD5EA;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(189, 213, 234, 0.7);
}

.buttons {
    display: flex;
}

.number-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 230px;
}

.operation-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.operation-button {
    width: 50px;
    height: 50px;
}


.number-button,
.dot {
    width: 70px;
    height: 70px;
}

.dot {
    font-weight: bolder;
    font-size: large;
}

.zero {
    width: 150px;
}

.equals-button,
.clear-button {
    width: 50px;
    height: 30px;
}